* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.titulo {
    font-size: 1.2em;
    color: #f4b400;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.contacto {
    margin-top: 15px;
}

.contacto a {
    color: #f4b400;
    text-decoration: none;
}

section {
    padding: 40px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.trabajo, .proyecto {
    margin-bottom: 20px;
}

.trabajo h3, .proyecto h3 {
    color: #333;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

.habilidades {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.habilidades li {
    flex-basis: 30%;
    background-color: #f4b400;
    color: #fff;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

.descargar-cv {
    margin-top: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f4b400;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.8em;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e09b00;
}